.containerHide {
  display: none;
}
.containerShow {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 20px;
  background-color: rgb(139, 216, 180);
}
.hideButton {
  margin-left: auto;
  right: 0;
  max {
    width: 30px;
    height: 30px;
  }
  outline: none;
  border: 2px solid transparent;
  text-align: center;
  background-color: rgb(207, 238, 236);
  color: rgb(212, 105, 44);
  cursor: pointer;

  :hover {
    border: 2px solid rgb(3, 114, 105);
  }
}
